@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

tbody::-webkit-scrollbar {
    width: 6px;
}

tbody::-webkit-scrollbar-track {
    background: var(--background-color);
}

tbody::-webkit-scrollbar-thumb {
    background-color: #3B9B9B;
    border-radius: 30px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    background-color: #262525;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.nav-bar .logo-officeeye img{
    width: 60px;
}

.nav-bar .logo-officeeye{
    padding-top: 10px;
    height: 100px;
}

.logout-image{
    margin-left: 11px;
}


.shortcuts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.shortcuts img{
    height: 35px;
    cursor: pointer;
}

.div_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div_header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.div_nomeUsuario {
    margin-left: 30px;
    margin-top: 10px;
}

.div_buttonCadastrar {
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.div_tabelaUsuarios{
    width: 95%;
    height: 100%;
    display: flex;
}

.div_tabelaUsuarios .column-1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}

/*label {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
    text-align:astart;
}*/

input{
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 4px;
    margin: 4px 0;
}

input:focus {
    outline: none;
     box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1); 
}

select{
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 4px;
    margin: 4px 0;
}

button{
    width: 280px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #3B9B9B;
    font-weight: 600;
    color: #fff;
}

.div_tabelaUsuarios .column-2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 600px;
    height: 70%;
    border: 2px solid #3B9B9B;
    border-radius: 10px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    color: white;
}

thead {
    background-color: #3B9B9B;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #ffffff;
    margin-bottom: 2px;
}

tbody {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow-y: scroll;
    padding: 0 6px;
}

tbody tr {
    border-bottom: solid 1px #303030;
}

th,
td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.th-id,
.td-id {
    width: 140px;
}

.th-nome {
    width: 190px;
}
.td-nome {
    width: 150px;
}

.th-maquina,
.td-maquina {
    width: 140px;
}

.th-acoes,
.td-acoes {
    width: 120px;
}


.container-img {
    display: flex;
    width: 80px;
}

td img {
    height: 28px;
    cursor: pointer;
    padding: 4px;
    margin: 2px;
}

.td-img {
    width: 48px;
    height: 20px;

}

.th-img {
    width: 95px;
}

.btn-excluir {
    height: 32px;
    background-color: #ef5858;
    border-radius: 6px;
}

.btn-editar {
    height: 32px;
    background-color: #3B9B9B;
    border-radius: 6px;
}




#modalSair, #modalRemover{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 350px;
    background-color: rgba(255, 255, 255);
    border: none;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    padding: 5px;
    text-align: center;
    color: #fff;
}

#modalEditar{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 650px;
    width: 450px;
    background-color: rgba(255, 255, 255);
    border: none;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    padding: 5px;
    text-align: center;
    color: #1d1d1d;
}

#modalEditar .container-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#modalEditar input{
    background-color: #1d1d1d;
    color: white;
}


#modalSair.active, #modalRemover.active, #modalEditar.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-modal{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.container-modal .title{
    color: #1d1d1d;
    font-weight: 14px;
}

.container-modal .img-modal img{
    height: 70px;
    width: 70px;
}

#modalSair .botao, #modalRemover .botao, #modalEditar .botao {
    height: 35px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}

.botao-confirmar {
    background-color: #c21f1f;
    margin-left: 10px;
}

.botao-cancelar {
    background-color: #3B9B9B;
}

