@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.cadastro-background{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/svg/blob-scene-haikei.svg');
    background-size: cover;
    background-position: center;
}

.cadastro-box{
    width: 80%;
    max-width: 1200px;
    height: 85%;
    /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
   
}

.cadastro-image{
    max-width: 100%;
    height: auto;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.cadastro-image img{
    width: 500px;
    position: absolute;
    margin: 40px;
    z-index: 2;
}

#image-background{
    width: 850px;
    margin: 0 30px 30px 30px;
}

.box-text{
    position: relative;
    margin-top: 430px;
    margin-right: 110px;
    z-index: 4;
}

.box-text p{
    font-weight: 600;
    font-size: 13px;
    color: #263238;
}

.box-text a{
    text-decoration: none;
    /* color:  ; */
}

.cadastro-form{
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
   /* padding: 20px; */
}

.cadastro-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    margin-bottom: 40px;
}


.cadastro-title {
text-align: center;
margin-bottom: 20px;
}

.cadastro-title h1{
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
    color: #263238;
}

.cadastro-title h3{
    font-weight: 600;
    font-size: 12px;
    margin-top: 15px;
    color: #399797;
    margin-bottom: 8px;
}

.cadastro-field{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cadastro-field label{
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 8px;
    cursor: pointer;
}

.cadastro-field input{
    width: 280px;
    height: 25px;
    font-size: 12px;
    border-radius: 20px;
    border: 1.5px solid #999999;
    padding: 10px;
    z-index: 3;
    transition: all .4s ease-in-out;
    
}

input:focus {
    outline: none;
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.52); */
}

.cadastro-field i{
    color: #1a1a1a;
    position: absolute;
    margin-top: 39px;
    margin-left: 270px;
    font-size: 15px;
    z-index: 5;
}

#cadastro_field_password_lock, #cadastro_field_password_confirm_lock{
    cursor: pointer;
}

.icon-password{
  
    height: 60px;
    position: absolute;
    margin-bottom: 200px;
   
}

.cadastro-button{
    z-index: 3;
    margin-top: 20px;
}


.cadastro-button button{
    width: 150px;
    height: 44px;
    padding: 8px;
    border: none;
    background-color: #399797;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cadastro-button button:hover{
    background-color: #407171;
    color: #1a1a1a;
}

.cadastro-form img{
    height: auto;
    width: 30%;
}


@media only screen and (max-width: 767px) {
    .cadastro-box {
        flex-direction: column; 
        height: auto; 
    }

    .cadastro-image,
    .cadastro-form {
        width: 100%; 
        height: 50%; 
        border-radius: 0; 
    }

    .cadastro-title h1 {
        font-size: 20px; 
    }

    .cadastro-title h3 {
        font-size: 10px; 
    }

    .cadastro-field input {
        height: 30px; 
    }

    .cadastro-button button {
        width: 130px; 
        height: 40px; 
        font-size: 11px; 
    }
}