@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* box-sizing: border-box; */
}

.login-background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/svg/background-login.svg');
    background-size: cover;
    background-position: center;
    
}

.login-box{
    width: 70%;
    height: 85%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}



.login-image{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;   
    position: relative;
    overflow: hidden;
}


.login-image img{
    max-width: 100%;
    height: auto;
    /* width: 520px; */
    position: absolute;
    /* margin-left: 100px; */
    z-index: 2;
    top: 0;
    left: 0;
}

#image-background{
    width: 920px;
    
}

.box-text{
    position: absolute;
    bottom: 20px;
    /* margin-top: 460px; */
    transform: translateX(-50%);
    left: 50%;
    z-index: 4;
    text-align: center;
}

.box-text p{
    font-weight: 600;
    font-size: 13px;
    color: #263238;
    
}

.box-text a{
    text-decoration: none;
    color: #399797;
}


.login-form{
    width: 50%;
    /* height: 100%; */
    background-color: #FFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.login-title h1{
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
    color: #399797;
}

.login-title h3{
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.login-field{
    display:flex;
    flex-direction: column;
    
}

.login-field label{
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 8px;
    cursor: pointer;
}

.login-field input{
    width: 100%;
    height: 35px;
    font-size: 12px;
    border-radius: 20px;
    border: 1.5px solid #999999;
    padding: 10px;
    z-index: 3;
    transition: all .4s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.52);
}

.login-field .input-container {
    position: relative;
}


.login-field i{
    color: #1a1a1a;
    position: absolute;
    margin-top: 39px;
    /* margin-right: 50px; */
    margin-left: 200px;
    font-size: 15px;
    z-index: 5;
}

#login_field_password_lock, #login_field_password_unlock{
    cursor: pointer;
}

.icon-password{
  
    height: 60px;
    position: absolute;
    margin-bottom: 200px;
   
}

.login-button{
    z-index: 3;
    margin: 50px;
}
.login-button button{
    
    width: 150px;
    height: 44px;
    /* padding: 8px; */
    border: none;
    background-color: #399797;
    color: #fff;
    border-radius: 20px;
    /* margin-bottom: 50px; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button button:hover{
    background-color: #407171;
    color: #1a1a1a;
}


.login-form img{
    height: 100%;
    /* margin-right: 80px; */
}

@media only screen and (max-width: 767px) {
    .login-box {
        flex-direction: column; /* Empilhar os elementos verticalmente */
        height: auto; /* Ajustar altura conforme necessário */
        box-shadow: none;
    }

    .login-image,
    .login-form {
        width: 100%; /* Ocupar toda a largura disponível */
        border-radius: 0; /* Remover bordas arredondadas */
        border-radius: 15px; /* Adicionar bordas arredondadas novamente */
    }

    .login-title h1 {
        margin-top: 30px; /* Ajuste de margem superior */
    }

    .login-image img {
        margin: 0 auto; /* Centralizar a imagem */
        position: relative;
        transform: none; /* Remover transformação */
        max-width: 100%; /* Limitar largura da imagem */
        margin-bottom: 20px; /* Espaçamento inferior */
    }

    .box-text {
        position: static; /* Resetar a posição */
        text-align: center; /* Centralizar o texto */
        margin-bottom: 20px; /* Adicionar espaço inferior */
    }
}

