@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-image: url(../assets/svg/background-login.svg);
    background-size: 100%;
}

#imagem-login {
    height: 300px;
    max-width: 400px;
    margin-top: 100px;
}

.login-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #399797;
    font-size: 14px;
    font-weight: 600;
}

.login-content {
    display: flex;
}

.login-image img {
    width: 100%;
    height: auto;
}

.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #008080;
}

p {
    margin-bottom: 20px;
    text-align: left;
    color: #333;
    font-weight: 300;
}

.login-field input:focus,
#botao-login:focus {
    outline: none;
    transition: 0.5s;
    border: 1px solid #008080;
}

.login-field {
    margin-bottom: 15px;
}

.login-field input {
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
}

.login-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.login-field {
    position: relative;
    align-items: center;
}

.login-field input {
    width: 85%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

.login-form button {
    padding: 10px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #006666;
    color: #1a1a1a;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #399797;
    text-decoration: none;
    font-weight: 700;
}


/* para celular */
@media only screen and (max-width: 767px) {
    #imagem-login {
        height: 210px;
        margin-top: 0px;
        max-width: none;
    }

    .login-container {
        margin: 20px;
    }

    .login-content {
        flex-direction: column;
        align-items: center;
    }

    .login-form {
        padding: 20px;
    }

    .login-image img {
        width: 100%;
        height: auto;
    }

    .login-form h2 {
        font-size: 1.5em;
    }

    .login-form label {
        font-size: 0.9em;
    }

    .login-form input {
        padding: 8px;
    }

    .login-form button {
        padding: 8px;
        font-size: 1em;
    }
}