@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #3B9B9B;
  border: 3px solid #3B9B9B;
  border-radius: 20px;
}

body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

header {
  height: auto;
  padding: 20px;
}

header button:hover {
  background-color: #FFF;
  border: 3px solid #3B9B9B;
  color: #3B9B9B;
  transition: .3s;
}

nav {
  display: flex;
  font-size: 1.2rem;
  height: 40px;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}

nav img {
  cursor: pointer;
  height: 80px;
  margin: 12px 0 0 80px;
  pointer-events: none;
  user-select: none;
}

ul {
  align-items: center;
  display: flex;
  list-style: none;
  padding-right: 0px;
}

ul li {
  margin: 30px;
}

ul li a {
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

ul li a:hover {
  color: #3B9B9B;
  transition: .3s;
}

.container-header {
  display: flex;
  height: 70vh;
}

.container-header .column-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: justify;
  width: 50%;
}

.column-2 {
  align-items: center;
}

.column-2 h1 {
  text-align: center;
  margin-top: 50px;
}

.column-2 span {
  font-size: 18px;
  font-weight: 600;
  width: 90%;
}

.column-2 button {
  background-color: #3B9B9B;
  border: none;
  border-radius: 12px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  text-decoration: uppercase;
  width: 190px;
}

h1 {
  color: #3B9B9B;
}

.skewed {
  background: #1a1a1a;
  bottom: 0;
  height: 20%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewY(6deg);
  transform-origin: top right;
  width: 100%;
  z-index: -1;
}

.container {
  background: #1a1a1a;
  /* height: 10vh; */
  position: relative;
}

.wave {
  background: #1a1a1a;
  bottom: 0;
  height: 142px;
  position: absolute;
  width: 100%;
}

section .about-we {
  background-color: #1a1a1a;
  height: 130vh;
}

.about-we {
  display: flex;
  justify-content: space-between;
}

.about-we .column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  width: 100%;
}

.about-we img {
  width: 100%;
  height: auto;
}

.about-we h1 {
  font-size: 32px;
  margin-bottom: 50px;
}

.about-we span {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1rem;
  width: 90%;
}

.container-values {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.logo-values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-values img {
  width: 25%;
  height: auto;
  margin-bottom: 50px;
  z-index: 3;
}

.card-container-1 {
  align-items: end;
  display: flex;
  justify-content: center;
}

.card-container-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 150px;
}

.card-container-2 img {
  height: 120px;
  margin-top: 70px;
  width: 400px;
}

.card-container-1,
.card-container-2 {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    z-index: 2;
}


.card {
  align-items: center;
  background-color: #1a1a1a;
  border: solid 4px #3B9B9B;
  border-radius: 51px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 40px;
  height: 520px;
  justify-content: center;
  width: 386px;
}

.card-c {
  align-items: center;
  background-color: #1a1a1a;
  border: solid 4px #3B9B9B;
  border-radius: 51px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 40px;
  height: 520px;
  width: 386px;
}

.card-c span {
  width: 300px;
}

.card span {
  margin-bottom: 30px;
  width: 300px;
}

.card h2 {
  color: #FFF;
}

.member-container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.member-list {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: space-evenly;
  width: 100%;
}

.member {
  align-items: center;
  border-radius: 43px;
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-self: center;
  width: 350px;
}

.member span {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.member img {
  cursor: pointer;
  margin: 3px;
}

.info-members {
  display: flex;
  margin-bottom: 30px;
}

.member-image {
  background-color: #d2d2d2;
  border-radius: 50%;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 150px;
}

.antonio {
  background-image: url(../assets/svg/antonio.jpeg);
  background-size: cover;
}

.felipe {
  background-image: url(../assets/svg/felipe.jpg);
  background-size: cover;
}

.guilherme {
  background-image: url(../assets/svg/Guilherme.jpeg);
  background-size: cover;
}

.gabriella {
  background-image: url(../assets/svg/gabriella.jpeg);
  background-size: cover;
}

.maria {
  background-image: url(../assets/svg/maria.jpeg);
  background-size: cover;
}

.renan {
  background-image: url(../assets/svg/renan.jpg);
  background-size: cover;
}

.wave-t {
  background: #1a1a1a;
  bottom: 0;
  height: 142px;
  position: absolute;
  transform: rotate(180deg);
  width: 100%;
  z-index: -1;
}

footer {
  display: flex;
  height: 30vh;
}

.container-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.container-logo img {
  width: 380px;
}

.container-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  width: 22%;
}

.container-contact .container-1 {
  align-items: start;
  display: flex;
}

.container-contact .container-1 h1 {
  border-bottom: solid 3px #3B9B9B;
  color: #1a1a1a;
  font-size: 38px;
  width: 200px;
}

.container-shortcuts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  margin-top: 40px;
  width: 23%;
}

.container-shortcuts a {
  color: #000;
  text-decoration: none;
}

.container-shortcuts h1 {
  border-bottom: solid 3px #3B9B9B;
  color: #1a1a1a;
  font-size: 38px;
  width: 200px;
}

.container-shortcuts .container-2 {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 90px;
}

.container-social-medias {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}

.container-social-medias .container-1 {
  align-items: end;
  display: flex;
  height: 50%;
  width: 100%;
}

.container-social-medias .container-2 {
  align-items: start;
  display: flex;
  height: 50%;
  justify-content: center;
  padding-top: 6px;
  width: 100%;
}

.container-social-medias h1 {
  border-bottom: solid 3px #3B9B9B;
  color: #1a1a1a;
  font-size: 38px;
  width: 320px;
}

footer .icon {
  height: 30px;
}

.container-social-medias img {
  cursor: pointer;
}

.copy {
  align-items: center;
  background-color: #1a1a1a;
  color: #FFF;
  display: flex;
  height: 8vh;
  justify-content: center;
}

.container-header .column-1,
.about-we .column-2 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.container-header img,
.about-we .column-2 img {
  height: 520px;
}

.wave::before,
.wave::after,
.wave-t::before,
.wave-t::after {
  border-radius: 50% 100%;
  content: "";
  display: block;
  position: absolute;
}

.wave::before,
.wave-t::before {
  background-color: #1a1a1a;
  height: 100%;
  right: -1.5%;
  top: 40%;
  width: 55%;
}

.wave::after,
.wave-t::after {
  background-color: #fff;
  height: 109%;
  left: -1.5%;
  top: 60%;
  width: 55%;
}

.card-c img,
.card img {
  height: 150px;
  width: 150px;
}

@media only screen and (max-width: 767px) {
  .container-header {
    flex-direction: column;
    height: auto;
  }

  .column-1 img {
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .column-2 {
    align-items: center;
    flex-direction: column;
  }

  .column-2 h1 {
    font-size: 23px;
    text-align: center;
  }

  .column-2 span {
    width: 100%;
  }

  .column-2 img {
    display: none;
  }

  .about-we {
    flex-direction: column;
    align-items: center;
  }
  
  .about-we h1 {
    margin-top: 30px;
    font-size: 23px;
    justify-content: center;
  }

  .about-we span {
    width: 90%;
  }

  .wave {
   display: none;
  }

  .container-values {
    flex-wrap: wrap;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .logo-values img {
    width: 195px;
    margin-top: 30px;
  }

  .member {
    display: flex;
    flex-direction: column;
  }

  .member-image {
    width: 100px;
    height: 100px;
  }

  .member span {
    text-align: center;
    padding: 5px;
  }

  .container-header .column-1,
  .container-header .column-2,
  .about-we .column-1,
  .about-we .column-2 {
    padding: 0 10px;
    width: 100%;
  }

  .card-container-2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card-container-1,
  .card-container-2,
  .container-logo,
  .container-contact,
  .container-shortcuts,
  .container-social-medias {
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
  }

  .footer {
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  

}