*{
    margin: 0px;
    padding: 0px;
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
}

.content{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #262525;
}

.content .header{
    height: 100%;
    width: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .header .logo{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.content .header .logo img{
    display: flex;
    width: 90%;
}

.content .header .images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    justify-content: space-between;
    margin-top: 90%;
}

.content .header .images a{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

img{
    display: flex;
    width: 65%;
}

a:hover{
    display: flex;
    transition: 1s;
    background-color: black;
}

.content .container{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    align-items: center;
}

.content .container .top{
    display: flex;
    width: 100%;
    height: 13%;
    justify-content: end;
    align-items: center;
    margin-right: 2%;
}

.content .container .top .hello{
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.content .container .top .hello button{
    background-color: black;
    border: solid 2px;
    border-radius: 5px;
    color: white;
    height: 55%;
    width: 22%;
    cursor: pointer;
}

b{
    font-size: 140%;
}

.content .container .block{
    display: flex;
    width: 100%;
    height: 87%;
    justify-content: end;
    align-items: center;
}





tbody::-webkit-scrollbar {
    width: 6px;
}

tbody::-webkit-scrollbar-track {
    background: var(--background-color);
}

tbody::-webkit-scrollbar-thumb {
    background-color: #3B9B9B;
    border-radius: 30px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    background-color: #262525;
    font-family: 'Montserrat', sans-serif;
}

.content{
    width: 95%;
    height: 100%;
    display: flex;
}

.content .column-1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.content .column-1 .text{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

label {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
    text-align:astart;
}

input{
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 4px;
    margin: 4px 0;
}

select{
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 4px;
    margin: 4px 0;
}

.content .column-2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 95%;
    height: 90%;
    border: 2px solid #3B9B9B;
    border-radius: 10px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    color: white;
}

thead {
    background-color: #3B9B9B;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #ffffff;
    margin-bottom: 2px;
}

tbody {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow-y: scroll;
    padding: 0 6px;
}

tbody tr {
    border-bottom: solid 1px #303030;
}

th,
td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.th-acoes{
    width: 100px;
}

.th-id{
    width: 140px;
}
.td-id {
    width: 130px;
}

.th-nome {
    width: 140px;
}
.td-nome {
    width: 150px;
}

.th-maquina,
.td-maquina {
    width: 140px;
}

.th-funcionario{
    width: 120px;
}
.td-funcionario {
    width: 140px;
}

.th-cpu {
    width: 140px;
}
.td-cpu {
    width: 140px;
}

.th-memoria{
    width: 110px;
}
.td-memoria {
    width: 120px;
}

.th-disco{
    margin-left: 1%;
    justify-content: start;
    width: 120px;
}
.td-disco {
    width: 120px;
}

.th-status,
.td-status {
    width: 140px;
}

.container-img {
    display: flex;
    width: 80px;
}

td img {
    height: 28px;
    cursor: pointer;
    padding: 4px;
    margin: 2px;
}

.td-img {
    width: 48px;
    height: 20px;

}

.th-img {
    width: 95px;
}

.btn-excluir {
    height: 32px;
    background-color: #ef5858;
    border-radius: 6px;
}

.btn-editar {
    height: 32px;
    background-color: #3B9B9B;
    border-radius: 6px;
}




#modal{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 220px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    padding: 5px;
    text-align: center;
    color: #fff;
}

#modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
 #modal .botao{
    height: 35px;
    width: 100px;
    margin-top: 70px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 600;
 }

 .botao-confirmar{
    background-color: #c21f1f;
    margin-left: 10px;
 }

    .botao-cancelar{
        background-color: #3B9B9B;
    }