@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.cadastro-background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/svg/background-cadastro.svg');
    background-size: cover;
    background-position: center;
    
    
}

.cadastro-box{
    width: 70%;
    height: 85%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
   
}



.cadastro-image{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;  
    
   
}




.cadastro-image img{
    width: 520px;
    position: absolute;
    margin-right: 80px;
}

#image-background{
    width: 920px;
    margin-bottom: 30px;
}

.box-text{
    position: relative;
    margin-top: 430px;
    margin-right: 110px;
}

.box-text p{
    font-weight: 600;
    font-size: 13px;
    
    color: #263238;
    
}

.box-text a{
    text-decoration: none;
    color: #003b95;
}



.cadastro-form{
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
   
}

.cadastro-section{
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    margin-bottom: 40px;
}




.cadastro-title h1{
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
    color: #263238;
}

.cadastro-title h3{
    
    font-weight: 600;
    font-size: 12px;
    margin-top: 15px;
    color: #003b95;
    margin-bottom: 8px;
   
}

.cadastro-field{
    display:flex;
    flex-direction: column;
    
}

.cadastro-field label{
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 8px;
}

.cadastro-field input{
    width: 280px;
    height: 25px;
    font-size: 12px;
    border-radius: 20px;
    border: 1.5px solid #999999;
    padding: 10px;
    
}

.cadastro-field i{
    color: #1a1a1a;
    position: absolute;
    margin-top: 39px;
    margin-left: 270px;
    font-size: 15px;
}





.cadastro-button button{
    width: 150px;
    height: 44px;
    padding: 8px;
    border: none;
    background-color: #003b95;
    color: #fff;
    border-radius: 20px;
   
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.cadastro-button button:hover{
    background-color: #003c95e5;
}

.cadastro-form img{
    height: 100%;
    margin-right: 30px;
}