@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.login-background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/svg/background-login.svg');
    background-size: cover;
    background-position: center;
    
}

.login-box{
    width: 70%;
    height: 85%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}



.login-image{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;   
   
}


.login-image img{
    width: 520px;
    position: absolute;
    margin-left: 100px;
    z-index: 2;
}

#image-background{
    width: 920px;
    
}

.box-text{
    position: relative;
    margin-top: 460px;
    margin-left: 90px;
    z-index: 4;
}

.box-text p{
    font-weight: 600;
    font-size: 13px;
    color: #263238;
    
}

.box-text a{
    text-decoration: none;
    color: #003b95;
}


.login-form{
    width: 50%;
    height: 100%;
    background-color: #FFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}


.login-title h1{
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
    color: #003b95;
}

.login-title h3{
    font-weight: 600;
    font-size: 15px;
    margin-top: 15px;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.login-field{
    display:flex;
    flex-direction: column;
    
}

.login-field label{
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 8px;
}

.login-field input{
    width: 280px;
    height: 25px;
    font-size: 12px;
    border-radius: 20px;
    border: 1.5px solid #999999;
    padding: 10px;
    z-index: 3;
    transition: all .4s ease-in-out;
}



.login-field i{
    color: #1a1a1a;
    position: absolute;
    margin-top: 39px;
    margin-left: 270px;
    font-size: 15px;
    z-index: 5;
}

#login_field_password_lock, #login_field_password_unlock{
    cursor: pointer;
}

.icon-password{
  
    height: 60px;
    position: absolute;
    margin-bottom: 200px;
   
}

.login-button{
    z-index: 3;
}
.login-button button{
    
    width: 150px;
    height: 44px;
    padding: 8px;
    border: none;
    background-color: #003b95;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #003c95e5;
    color: #1a1a1a;
}


.login-form img{
    height: 100%;
    margin-right: 80px;
}



